.navbar {
  position: fixed; /* Para que siempre esté visible */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--card-bg);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegura que esté encima de todo */
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--secondary-color);
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navList li {
  font-size: 1.1rem;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  padding-bottom: 5px; /* Espacio para el subrayado animado */
}

.navList li:hover {
  color: var(--primary-color);
}

.navList li::after { /* Subrayado animado */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-out;
}

.navList li:hover::after {
  width: 100%;
}