.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;
}

@media (max-width: 680px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
